<div class="container">
	<div class="row" style="background: rgba(255, 255, 255, 0.8); box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5); margin-bottom: 50px;">
		<div class="col-xs-12">
			<ul class="nav nav-tabs pull-right">
				<li role="presentation" data-ng-class="{active: state == 'info'}">
					<a class="pointer" data-ng-click="state = 'info'">Info</a>
				</li>
				<li role="presentation" data-ng-class="{active: state == 'ws'}">
					<a class="pointer" data-ng-click="state = 'ws'">Walk Score</a>
				</li>
				<li role="presentation" data-ng-class="{active: state == 'listings'}">
					<a class="pointer" data-ng-click="state = 'listings'">Listings</a>
				</li>
			</ul>
			
			<h3>{{apartment.name}}</h3>
			
			<div data-ng-if="state == 'info'">
				<div style="font-size: 22px">
					<p><b>Address:</b> {{apartment.formatted_address}}</p>
					<p><b>Phone #:</b> {{apartment.formatted_phone_number}}</p>
					<p>Office Open now? <span data-ng-if="apartment.opening_hours.open_now" class="text-success">Yes</span><span class="text-danger" data-ng-if="!apartment.opening_hours.open_now">No</span></p>
					<p><button class="btn btn-default" data-ng-click="postListing()" data-ng-if="user"><i class="fa fa-plus"></i> Apartment Listing</button></p>
					<p><a target="_blank" data-ng-href="{{apartment.url}}">Social</a> | <a target="_blank" data-ng-href="{{apartment.website}}">Website</a></p>
				</div>
			</div>
			
			<div data-ng-if="state == 'ws'" class="text-center innerAll">
				<span style="font-size: 48px" class="badge">{{apartmentadd.walkscore}}</span><br />
				Walk Score
			</div>
			
			<div data-ng-if="state == 'listings'">
				<div class="col-xs-12" data-ng-if="listings.length > 0">
					<div class="pull-right">
						<label>Number of bedrooms:</label>
						<select style="width: 20px; display: inline;padding-right: 0;" class="form-control" data-ng-model="filters.noOfBedrooms" data-ng-options="bedroom for bedroom in bedroomOpts"></select>
						<label>Number of bathrooms:</label>
						<select style="width: 20px; display: inline;padding-right: 0;" class="form-control" data-ng-model="filters.noOfBathrooms" data-ng-options="bathroom for bathroom in bathroomOpts"></select>
						<a data-ng-click="filters = null" class="pointer">Reset</a>
					</div>
					<h3>Listings:</h3>
					<div class="separator"></div>
					<div data-ng-repeat="listing in listings  | filter: filters" style="font-size: 14px">
						<div style="font-size: 24px;position: absolute;right: 0;">
							<a title="Delete listing" style="color: #000;" data-ng-if="user._id == listing.userId" data-ng-click="deleteListing(listing)" class="pointer">&#10006;</a>
						</div>
						<h4 style="margin: 0;">{{listing.desc}}</h4>
						<div class="col-xs-6">
							<div><b>Amenities:</b> {{listing.amenities}}</div>
							<div data-ng-if="user"><b>Contact:</b> {{listing.contact}}</div>
							<div data-ng-if="!user">Please login to see contact details for this listing</div>
						</div>
						<div class="col-xs-6">
							<div><b>Bedrooms:</b> <span>{{listing.noOfBedrooms}}</span></div> 
							<div><b>Bathrooms:</b> <span>{{listing.noOfBathrooms}}</span></div>
							<div><b>Rent:</b> <span>{{listing.rent}}</span></div>
						</div>
						<hr>
					</div>
				</div>
				
				<div data-ng-if="listings.length == 0" class="text-center innerAll">
					<h2>No listings available. Go to info tab to post one.</h2>
				</div>
				
			</div>
			
		</div>
		<div class="col-xs-12">
			<div class="separator"></div>
			<div class="separator"></div>
		</div>
	</div>
</div>