<div>
  
	<ui-gmap-google-map 
		center='map.center'
		zoom='map.zoom'
		options="{disableDefaultUI: true}"
		style="position: fixed;left: 0; right: 0; top: 0; bottom: 0"
		data-scale-height>
	<div ng-repeat="mark in markers track by $index" position="{{mark.id}}" style="'white-space:nowrap'">
	    <ui-gmap-markers models="markers" coords="'self'" icon="'icon'" click="'onClick'" events="'markersEvents'">
	    	<ui-gmap-windows show="'show'">
	    		{{this.apartments[$index].name}}
        	</ui-gmap-windows>
        	<ui-gmap-polylines models="trackings" path="'geotracks'" static="true"></ui-gmap-polylines>
	    </ui-gmap-markers>
	 </div> 
	    
	    <ui-gmap-markers models="univmarkers" coords="'self'" icon="'icon'">
	    </ui-gmap-markers>
	 
	</ui-gmap-google-map>

</div>
<div style="z-index: 1029;margin-top: 250px;">
	<div style="position: absolute;left: 20px; right: 20px;" data-ui-view></div>
</div>
