<div class="container">
	<div class="row" style="background: rgba(255, 255, 255, 0.8);">
		<div class="col-xs-12">
			<h4 data-ng-if="apartments">Apartments near {{label}}:</h4>
			<div data-ng-repeat="apartment in apartments"
				class="col-xs-12 apt-list-item"
				data-ng-click="panTo(apartment.geometry.location.lat, apartment.geometry.location.lng, 16)"
				data-ui-sref="root.base.apartment({placeID : apartment.place_id})" style="font-size: 20px">
				<h5>{{apartment.name}}</h5>
				<div>{{apartment.formatted_address}}</div>
			</div>
		</div>
		
	</div>

</div>