body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#temp {
	position: relative;
	width: 100px;
	height: 100px;
	border-width: 1px;
	border-radius: 5px;
	border-color: #DEDEDE;
	background-color: black;
	color:white;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	line-height: 100px;
}