<div class="modal-body">
	<div style="font-size: 100px;text-align: center"><i class="fa fa-user"></i></div>
	<form name="loginForm">
		<input class="form-control" data-ng-model="user.username" type="email" placeholder="Email"  required="required"/>
		<div class="separator"></div>
		<input type="password" class="form-control" data-ng-model="user.password" placeholder="Password" required="required"/>
		<div class="separator"></div>
		<div class="text-center">
			<button class="btn btn-primary" data-ng-click="doLogin()" data-ng-disabled="!loginForm.$valid">
				<span data-ng-if="!logging">Login</span>
				<span data-ng-if="logging"><i class="fa fa-spinner fa-spin"></i> Logging in...</span>
			</button>
		</div>
		<div class="text-danger text-center">{{status}}</div>
	</form>
	
	<div class="text-center">
	or
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="text-center">
				<button class="btn btn-primary" data-ng-click="login()"><i class="fa fa-facebook"></i> Sign in with Facebook</button>
			</div>
		</div>
	</div>
</div>