<div class="modal-body">
	<div class="row">
		<div class="col-xs-12">
			<h5>New Listing:</h5>
			<form data-ng-submit="post">
				<div class="separator"></div>
				<label>Listing Title:</label>
				<textarea class="form-control" style="resize: none;" data-ng-model="newApt.desc"></textarea>
				<div class="separator"></div>
				<label>Number of bedrooms:</label>
				<select class="form-control" data-ng-model="newApt.bedroom" data-ng-options="bedroom.number for bedroom in bedroomOpts"></select>
				<div class="separator"></div>
				<label>Number of bathrooms:</label>
				<select class="form-control" data-ng-model="newApt.bathroom" data-ng-options="bathroom.number for bathroom in bathroomOpts"></select>
				<div class="separator"></div>
				<label>Rent per month:</label>
				<input type="number" data-ng-model="newApt.rent" class="form-control">
				<div class="separator"></div>
				<label>Apartment amenities:</label>
				<textarea class="form-control" style="resize: none;" data-ng-model="newApt.amenities"></textarea>
				<div class="separator"></div>
				<label>How to contact you?</label>
				<textarea class="form-control" style="resize: none;" data-ng-model="newApt.contact"></textarea>
				<div class="separator"></div>
				<accordion close-others="oneAtATime">
					<accordion-group is-open="status.open">
						<accordion-heading>
							You can pay to make your listing sticky. Click here. <i class="pull-right fa" data-ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
						</accordion-heading>
						<form>
							<div class="pull-right text-success" style="font-size: 28px">
								<span data-ng-if="stickyDays == 1">$1</span>
								<span data-ng-if="stickyDays == 3">$2</span>
								<span data-ng-if="stickyDays == 7">$5</span>
							</div>
							<select class="form-control" style="width: 50%;" data-ng-model="stickyDays">
								<option value="1" selected="selected">1 day</option>
								<option value="3">3 days</option>
								<option value="7">1 Week</option>
							</select>
							<div class="separator"></div>
							<label>Card number:</label>
							<input type="text" class="form-control">
							<label>3 digit CVV number:</label>
							<input type="text" class="form-control">
							<label>Name on card:</label>
							<input type="text" class="form-control">
							<div class="separator"></div>
							<button class="btn btn-default" data-ng-click="makeSticky()">Pay and make sticky</button>
						</form>
					</accordion-group>
				</accordion>
				<div class="pull-right">
					<button data-ng-click="cancel()" class="btn btn-danger">
						Cancel
					</button> 
					<button data-ng-click="post()" class="btn btn-success">
						<span data-ng-if="!posting">Post this listing</span>
						<span data-ng-if="posting"><i class="fa fa-spinner fa-spin"></i> Posting...</span>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>